$font-main: 'DM Sans', sans-serif;

$font-size-sm-h1: 40px;
$line-height-sm-h1: 1;
$letter-spacing-sm-h1: -0.05em;

$font-size-sm-h2: 34px;
$line-height-sm-h2: 36px;
$letter-spacing-sm-h2: -0.03em;

$font-size-sm-h3: 22px;
$line-height-sm-h3: 30px;
$letter-spacing-sm-h3: -0.04em;

$font-size-sm-18: 18px;
$line-height-sm-18: 24px;
$letter-spacing-sm-18: -0.02em;

$font-size-sm-16: 16px;
$line-height-sm-16: 24px;
$letter-spacing-sm-16: -0.01em;

$font-size-sm-btn: 15px;
$line-height-sm-btn: 24px;
$letter-spacing-sm-btn: -0.05em;

$font-size-sm-15: 15px;
$line-height-sm-15: 22px;
$letter-spacing-sm-15: -0.01em;

// NOTE : lg

$font-size-lg-22: 22px;
$line-height-lg-22: 32px;
$letter-spacing-lg-22: -0.01em;

$font-size-lg-26: 26px;
$line-height-lg-26: 34px;
$letter-spacing-lg-26: -0.04em;

$font-size-lg-btn: 18px;
$line-height-lg-btn: 28px;
$letter-spacing-lg-btn: -0.05em;
